# lambda

In [49]:
#lambda arguments: expression
square = lambda n: n ** 2
square(5)

25

In [4]:
# lambda is used to calculate arithmetic expression
mean= lambda a, b: a+b/2
print (mean(2,3))

3.5

In [9]:
add=lambda a,b:a+b
sub=lambda a,b:a-b
mul=lambda a,b:a*b
div=lambda a,b:a/b
print("addition is:",add(6,4))
print("substraction is:",sub(6,4))
print("multiplication is:",mul(6,4))
print("division is:",div(6,4))

addition is: 10
substraction is: 2
multiplication is: 24
division is: 1.5

# map

In [24]:
#map expression
def square(n):
    return n ** 2
squares = map(square, range(1, 10, 2))  
squares
# returns map object
list(squares)

[1, 9, 25, 49, 81]

In [1]:
def addition(n):
    return n + n
# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [2]:
numbers = (1, 2, 3, 4)
result = map(lambda x: x + x, numbers)
print(list(result))

[2, 4, 6, 8]

In [3]:
# Add two lists using map and lambda
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 9]

In [5]:
# List of strings
l = ["GCEK","MCA"]
# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

[['G', 'C', 'E', 'K'], ['M', 'C', 'A']]

# filter

In [15]:
#Python filter() function is used to get filtered elements. 
#filter (function, iterable)  
def filterdata(x):  
    if x>4:  
        return x  
# Calling function  
result = filter(filterdata,(1,2,3,4,5,6))  
print(list(result))

[5, 6]

In [17]:
#using lambda function
l=[1,2,3,4,5,6]
result= filter(lambda x:x>4,l)
print(list(result))

[5, 6]

In [14]:
numbers = [1, 2, 3, 4, 5, 6, 7]
# the lambda function returns True for even numbers 
even_no = filter(lambda x: (x%2 == 0), numbers)
even_number = list(even_no)
print(even_number)

[2, 4, 6]

# format

In [26]:
#format(value[, format_spec])
my_string = "My name is {}"
print(my_string.format("Karuna."))

My name is Karuna.

In [24]:
# Converting a decimal number into b(binary), o(octal), and x(hexadecimal).

val = 12  # Original value
print("Original Value :")
print(val)

# Binary value
print("Binary value:") 
print(format(12, "b"))  # Formatting in Binary

# Octal value
print("Octal value:")
print(format(12, "o"))  # Formatting in Octal

# Hexadecimal value
print("Hexadecimal value:")
print(format(12, "x"))  # Formatting in Hexadecimal

Original Value :
12
Binary value:
1100
Octal value:
14
Hexadecimal value:
c

In [28]:
"Government {n} of engineering {m}".format(n="college",m="Karad")

'Government college of engineering Karad'

# read

In [18]:
import pandas as pd
f = pd.read_csv("demo.rtf")
f

                           Hi my name is karuna.
0                               I am from satara.
1  I am doing intership at AIS soultion Pvt. Ltd.

In [19]:
f=open("demo.rtf","r")
print(f.read())

Hi my name is karuna.
I am from satara.
I am doing intership at AIS soultion Pvt. Ltd.

In [3]:
f=open("demo.rtf","r")
f.read()

'Hi my name is karuna. \nI am from satara.\nI am doing intership at AIS soultion Pvt. Ltd.\n'

# user define function

In [31]:
def avg_number(x, y):
    print("Average of ",x," and ",y, " is ",(x+y)/2)
avg_number(3, 4)

Average of  3  and  4  is  3.5

In [37]:
def sum(*numbers):
    s = 0
    for n in numbers:
        s += n
    return s

print(sum(1,2,3,4))

10

In [38]:
def average(x, y):
    return (x + y)/2
print(average(4, 3))

3.5