# list

In [ ]:
#list is a data type that is mutable
#list item are ordered,changeble and allow duplicates

# creation of list

In [27]:
#creating list using square brackets[]
#list contain elements that seperated by comma ,

In [79]:
city=["satara","karad","islampur","pune"]

In [80]:
city

['satara', 'karad', 'islampur', 'pune']

In [81]:
#using list function()
list1=list(["Karuna Pol",123])
list1

['Karuna Pol', 123]

In [82]:
list2=list("karuna")
list2

['k', 'a', 'r', 'u', 'n', 'a']

# slicing of list

In [83]:
#start list
city[0]

'satara'

In [84]:
#end list
city[3]

'pune'

In [85]:
#giving range from start to rest of all values
city[1:]

['karad', 'islampur', 'pune']

In [86]:
#giving range from end to get begining values
city[:3]

['satara', 'karad', 'islampur']

In [87]:
#to get all values 
city[:]

['satara', 'karad', 'islampur', 'pune']

In [88]:
#to get in between values
city[1:3]

['karad', 'islampur']

# change vaulues in list

In [89]:
city

['satara', 'karad', 'islampur', 'pune']

In [90]:
city[3]="mumbai"
city

['satara', 'karad', 'islampur', 'mumbai']

# delete

In [91]:
#delete any value in list using del keyword
del city[1]
city

['satara', 'islampur', 'mumbai']

In [77]:
#cannot delete entire list using delkeyword
del city
city

NameError: name 'city' is not defined

# Methods

# 1.append

In [92]:
#1.append
#adds an element at the end of the list
city.append("pune")
city

['satara', 'islampur', 'mumbai', 'pune']

# 2.count

In [93]:
#2.count
#return the number of elements with specified vales
city
x=city.count("satara")
x

1

# 3.extend

In [94]:
#3.extend
#adds the element of list ,to the end of the current list
city1=["satara","islampur","karad"]
name=["karuna","chetan","vijay"]
city1.extend(name)
city1

['satara', 'islampur', 'karad', 'karuna', 'chetan', 'vijay']

# 4.insert

In [96]:
#4.insert
#adds the element at the specified position
city.insert(1,"karuna")
city

['satara', 'karuna', 'islampur', 'mumbai', 'pune']

In [98]:
city.insert(-3,"chetan")
city

['satara', 'karuna', 'chetan', 'chetan', 'islampur', 'mumbai', 'pune']

# 5.remove

In [99]:
#5. remove
#remove the item with the specified value
city.remove("chetan")
city

['satara', 'karuna', 'chetan', 'islampur', 'mumbai', 'pune']

# 6.pop

In [100]:
#6.pop
#removes the element at the specified (index) position
city.pop(4)
city

['satara', 'karuna', 'chetan', 'islampur', 'pune']

In [101]:
#if index is not given
city.pop()
city

['satara', 'karuna', 'chetan', 'islampur']

# 7.clear

In [103]:
#7.clear
#removes all the element of list
#it is equal to del[:]
list2

['k', 'a', 'r', 'u', 'n', 'a']

In [104]:
list2.clear()
list2

[]

# 8.index

In [105]:
#8.index
#returns the index of the given element
city

['satara', 'karuna', 'chetan', 'islampur']

In [107]:
city.index('karuna')

1

In [110]:
#searching item from given index
list3=[10,20,3,45,33,10,15,20,10,15,20]
list3.index(20,8)

10

In [114]:
#giving negative index= searching from -ve index and return +ve index
list3.index(20,-6)

7

In [115]:
#giving the index range from start to end 
#i.e. list.index(item,start_index,end_index)
list3.index(10,1,6)

5

In [116]:
#giving -ve index from start to end return +ve index
list3.index(10,-4,-1)

8

# 9.sort

In [118]:
#9.sort
#used to sort the element in ascending or descending order
list1=[20,43,77,35,57,21,12,79,24,36]
list1

[20, 43, 77, 35, 57, 21, 12, 79, 24, 36]

In [119]:
#ascending order
list1.sort()
list1

[12, 20, 21, 24, 35, 36, 43, 57, 77, 79]

In [120]:
#descending order
list1.sort(reverse=True)
list1

[79, 77, 57, 43, 36, 35, 24, 21, 20, 12]

# 10.reverse

In [121]:
#10.reverse
#used to reverse the values of the list
list1=[40,24,22,"karuna",59,29]
list1.reverse()
list1

[29, 59, 'karuna', 22, 24, 40]

# 11.copy

In [122]:
#11.copy
#used to make copy of list
list2=list1.copy()
list2

[29, 59, 'karuna', 22, 24, 40]

# Function on list

# 1.len

In [123]:
#len
#returns lenght of list
len(list1)

6

# 2.max

In [125]:
#max
#returns the greatest value from list
list1=[28,25,739,922,83,83]
max(list1)

922

# 3.min

In [126]:
#min
#returns the smallest value from the list
min(list1)

25

# 4.sum

In [127]:
#sum
#returns the total of item in list
sum(list1)

1880