In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/Mac/Indprj/task1.csv") 
df

   Month  Demand  Cap  ExtraQty  Remainingcap
0    jan     800  900         0           100
1    feb     500  900         0           400
2    mar    1000  900       100             0
3    apr    1200  900       300             0
4    may    1500  900       600             0
5    jun     900  900         0             0
6    jul     200  900         0           700
7    aug    1300  900       400             0
8    sep     700  900         0           200
9    oct    2000  900      1100             0
10  nov     1800  900       900             0
11   dec     600  900         0           300

In [2]:
task= {"jan": 800, "feb": 500, "march": 1000,"apr":1200,"may":1500,"jun":900,"jul":200,"aug":1300,"sep":700,"oct":2000,"nov":1800,"dec":600}
for a in task:
    
    print(a,'=',task[a])
#task

jan = 800
feb = 500
march = 1000
apr = 1200
may = 1500
jun = 900
jul = 200
aug = 1300
sep = 700
oct = 2000
nov = 1800
dec = 600

In [3]:
def t1 (capacity,demand):
    cap=capacity
    dem=demand
    demo=df['Cap'].loc[df.index[1]]
    df['Cap']=df['Cap'].replace({demo:cap})
    
    key1=dem.keys()
    value1=list(dem.values())
    
    for i in range(len(key1)):
        df.loc[i,'Demand']=value1[i]
        sub=cap-value1[i]
        if sub<0:
            df.loc[i,'ExtraQty']=abs(sub)
            df.loc[i,'Remainingcap']=0

        elif sub>0:
            df.loc[i,'ExtraQty']=0
            df.loc[i,'Remainingcap']=sub

        else:
            df.loc[i,'ExtraQty']=0
            df.loc[i,'Remainingcap']=0

    df.to_csv("C:/Users/Mac/Indprj/task1.csv", index=False)
    return df

In [5]:
t1(100,task)

   Month  Demand  Cap  ExtraQty  Remainingcap
0    jan     800  100       700             0
1    feb     500  100       400             0
2    mar    1000  100       900             0
3    apr    1200  100      1100             0
4    may    1500  100      1400             0
5    jun     900  100       800             0
6    jul     200  100       100             0
7    aug    1300  100      1200             0
8    sep     700  100       600             0
9    oct    2000  100      1900             0
10  nov     1800  100      1700             0
11   dec     600  100       500             0