# Tuple

In [1]:
#tuple is collection of ordered ,unchangeble and allow duplicate
#tuples are return in round brackets

# creation of tuple

In [8]:
#tuple can created by using round brackets ()
#and each element seperated by comma ,
tuple1=(20,46,25,3,20,10,3,20,42,20)
tuple1

(20, 46, 25, 3, 20, 10, 3, 20, 42, 20)

# Methods

# 1.count

In [9]:
#count
#count the elements of specified values
tuple1.count(20)

4

# 2.index

In [10]:
#index
#retrun the index of specified value
tuple1.index(10)

5

# Functions of Tuple

# 1.len

In [11]:
#len
#returns the length of tuple
len(tuple1)

10

# 2.sort

In [15]:
#sort
#sorting the tuple in ascending or descending order
#ascending order
t1=(5,3,1,2,4)
sorted(t1)

[1, 2, 3, 4, 5]

In [16]:
#descending order
sorted(t1,reverse=True)

[5, 4, 3, 2, 1]

# 3.reversed

In [17]:
#reversed
#reverse the tuple 
tuple(reversed(t1))

(4, 2, 1, 3, 5)

# 4.min

In [18]:
#min
#returns the smallest value
min(t1)

1

# 5.max

In [19]:
#max
#returns the largest value
max(t1)

5

# 6.sum

In [20]:
#sum
#adds the all element in the tuple
sum(t1)

15